.component-wrapper {
  background: #f3fffc;
  box-shadow: 0px 4px 4px 0px #c5c3fb4f;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 575.98px) {
  .card-column {
    padding: 0.5rem !important;
  }
}
